<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.servMe.utilities.Listeners" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.servMe.testCases.TC_Reservation_New_Guest_2_copy" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
